$background: #00041C;

$darkblue: #0047ad;
$darkred: #cc1800;
$blue: #0074ff;
$green: #16af00;
$yellow: #ffaa00;
$orange: #ff5b00;
$purple: #b529ff;
$pink: #ff00ff;
$opal: #31d357;
$red: #ff0000;
$magenta: #F300BF;
